.more {
  background: #000033;
  height: 100%;
}

.more nav {
  padding: 5px;
  height: 6%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000033;
  color: #fff;
}

.more .body {
  margin: 0 40px;
  text-align: center;
}

.more .steps-list {
  margin-top: 20px;
}

.more .steps {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.6em;
  border-bottom: 1px solid white;
}