.setting {
    height: 100%;
    position: relative;
    background-color: #fff;
  }
  
  .setting nav {
    padding: 5px;
    height: 6%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #990033;
    color: #fff;
  }

  .setting .body .user{
    background: #fff;
     padding: 20px 30px 0px 30px;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
  }

  .setting .body .user .userinfor{
      padding:20px 20px;
  }
  .setting .body .list{
      padding: 10px;
  }

  .setting .body .list .listitem{
      padding: 20px 10px 10px 10px;
      border-bottom:1px dashed black;
}

  .setting footer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
  }
  
  .setting footer button {
    width: 100%;
    background: #990033;
    color: #fff;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 10px;
    transition: 0.2s all ease;
    box-sizing: border-box;
  }